/* Font size chart:
 * Pixels	Percent
 * -----------------
 * 10		77
 * 11		85
 * 12		93
 * 13		100
 * 14		108
 * 15		116
 * 16		123.1
 * 17		131
 * 18		138.5
 * 19		146.5
 * 20		153.9
 * 21		161.6
 * 22		167
 * 23		174
 * 24		182
 * 25		189
 * 26		197
 */

*
{
	border: none;
}

html, body
{
	width: 100%;
	height: 100%;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #330000;/*#cccccc;*/
	text-align: center;
}

a, a:link, a:active, a:visited
{
	color: #cc0000;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}

a:hover
{
	color: #36c;/*#3366cc;*/
	/*text-decoration: underline;*/
	border-bottom-color: #36c;
}

a.noborder,
a.noborder:link,
a.noborder:active,
a.noborder:visited
{
	border-bottom: none;
}

a.noborder:hover
{
	border-bottom: none;
}

a.external,
a[rel='external'] { padding-right: 20px; background: transparent url(../images/external_link.png) right no-repeat; }
a.download,
a[rel='download'] { padding-right: 18px; background: transparent url(../images/file.png)/*url(../images/pemanent_link.png)*/ right no-repeat; }
a.email,
a[rel='email'] { padding-left: 18px; background: transparent url(../images/email.png) left bottom no-repeat; }
a.top { padding-left: 15px; padding-top: 10px; font-variant: small-caps; font-size: 93%; background: transparent url(../images/arrow_top.png) left bottom no-repeat; }

acronym
{
	border-bottom: 1px dotted #000 !important;
	font-variant: small-caps;
}

#subfooter a,
#subfooter a:link,
#subfooter a:active,
#subfooter a:visited
{
	color: #ccc;
	border-bottom: 1px dotted #ccc;
	margin-right: 10px;
	/*font-variant: small-caps;*/
}

#subfooter a:hover
{
	text-decoration: none;
	border-bottom-style: solid;
}

ul, ol
{
	/*padding-left: 10px;*/
	margin-left: 30px;
	list-style-position: outside;
	margin-bottom: 10px;
}

ul.top-margin, ol.top-margin
{
	margin-top: 10px;
}

ul.bullets,
ul.bullets>li
{
	list-style-type: circle;
	list-style-image: url(../images/bullet.png);
}

.menu ul
{
	margin-left: 10px;
	margin-bottom: 0;
}

.menu ul ul
{
	/*padding-left: 25px;*/
	margin-left: 25px;
}

.menu ul ul,
.menu ul ul>li
{
	list-style-type: circle;
	list-style-image: url(../images/bullet.png);
}

ol,
ol>li
{
	list-style-type: decimal;
}

ol.Letters,
ol.Letters>li
{
	list-style-type: upper-alpha;
}

ol.letters,
ol.letters>li
{
	list-style-type: lower-alpha;
}

ol.Roman,
ol.Roman>li
{
	list-style-type: upper-roman;
}

ol.roman,
ol.roman>li
{
	list-style-type: lower-roman;
}

.even
{
	background-color: #ccccaa;
}

.odd
{
	background-color: #ddddbb;
}

h1,h2,h3,h4,h5
{
	font-family: Georgia,"Times New Roman",Times,serif;
	margin-bottom: 5px;
	margin-top: 20px;
}

h1
{
	font-size: 197%; /*26px*/
	border-bottom: 1px solid #990000;
	margin-top: 0;
}

h2
{
	font-size: 167%; /*22px*/
	padding-left: 5px;
}

h3
{
	font-size: 138.5%; /*18px*/
	padding-left: 10px;
}

h4
{
	font-size: 123.1%; /*15px*/
	padding-left: 15px;
}

h5
{
	font-size: 108%;
	padding-left: 15px;
	margin-top: 10px;
	margin-bottom: 2px; 
}

p, pre, blockquote
{
	padding-left: 25px;
	margin-bottom: 20px;
}

blockquote
{
	padding: 5px 25px;
	background-color: #ddddbb;
	border: 1px solid #ccccaa;
	font-style: italic;
}

blockquote>p
{
	margin-bottom: 0;
}

blockquote.pmargin>p
{
	margin-bottom: 15px;
}

ol>li>p,
ul>li>p,
ol>li>pre,
ul>li>pre
{
	margin-bottom: 10px;
	margin-top: 10px;
}

code
{
	display: block;
	padding: 10px 30px;
	border: 1px solid #cccccc;
}

strong { font-weight: bold; }

cite {
	font-style: italic;
	font-weight: 600;
	font-family: Georgia,"Times New Roman",Times,serif;
}

hr
{
	width: 100%;
	height: 1px;
	color: #900;
	background-color: #900;
	border: none;
}

table
{
	margin-left: 25px;
	border: none;
	border-spacing: 5px;
	margin-bottom: 20px;
}

table td
{
	border: none;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

table th
{
	border-bottom: 1px solid #900;
	font-weight: bold;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.strikeout { text-decoration: line-through; }
.center {text-align: center;}
.nowrap {white-space: nowrap;}

.clear_both { clear: both; }

.left_half
{
	float: left;
	width: 280px; /*350*/
	clear: left;
}

.right_half
{
	float: right;
	width: 280px;
	clear: right;
}

.hidden { display: none; }

.small, .sfd, .sfcd { font-size: 85%; }

.fright, .sfd, .sfcd { float: right; }

.cright, .sfcd { clear: right; }

.dim, .sfd, .sfcd { color: #553; }

.red { color: #f00; }

.automargin { margin: 10px; }

#everything
{
	background-image: url(../images/menu_bg.png);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #ffffff;
	width: 800px; /*980*/
	margin: 10px auto;
	text-align: left;
	border-top: 5px solid #886;
}

#superheader
{
	background-color: #888866;
	height: 3px;
	border-bottom: 1px dotted #ddddbb;
	clear: both;
	font-size: 2px;
}

#header_right
{
	float: right;
	/*text-align: center;*/
	background-color: #ccccaa;
	background-image: url(../images/header_right_bg.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	position: relative;
	min-height: 134px;
	max-height: 134px;
	height: 134px;
	width: 580px;
	padding: 5px;
	padding-bottom: 11px;
	/*font-size: 93%;*/
	vertical-align: bottom;
}

#header_left
{
	float: left;
	overflow: hidden;
	width: 194px;
	padding-left: 6px;
	padding-top: 6px;
	padding-right: 10px;
	/*font-size: 93%;*/
	min-height: 224px;
	max-height: 224px;
	height: 224px;
	background-color: #ccccaa;
	background-image: url(../images/header_left_bg.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#since
{
	float: right;
	width: 275px;
	position: absolute;
	top: 25px;
	right: 10px;
	font-style: italic;
	text-align: right;
}

#since p {
	padding-left: 0px;
}

#left_nav
{
	float: left;
	overflow: auto;
	width: 190px;/*240*/
	padding: 0 10px 0 5px;
	clear: left;
}

#search
{
	margin-top: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	/*border-bottom: 2px solid #900;*/
}

#l_search_box
{
	margin-top: 10px;
	margin-left: 10px;
}

#l_search_box input[type='text']
{
	border: 1px solid #900;
	padding: 2px;
	margin-bottom: 5px;
}

.ad
{
	margin-top: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.menu_header
{
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 93%;
}

.menu
{
	line-height: 1.5em;
	/*border-bottom: 2px solid #900;*/
	margin-right: 5px;
	padding: 0 0 15px 0;
}

.menu a
{
	/*font-variant: small-caps;*/
	font-size: 85%;
}

.menu>ul>li
{
	border-bottom: 1px dotted #ccccaa;
}

.menu>ul>li.menu_skip
{
	/*padding-top: 10px;*/
	border-bottom: none;
}

#content
{
	float: right;
	overflow: auto;
	width: 560px;/*710*/
	padding-right: 20px;
	clear: right;
}

iframe
{
	max-width: 540px !important;
}

.breadcrumbs
{
	margin-bottom: 5px;
	padding: 5px 0;
}

.crumb
{
	white-space: nowrap;
}

.crumb_sep
{
	padding: 0 10px;
}

.inner_menu
{
	text-align: center;
	overflow: auto;
	background-color: #ddddbb;
	border: 1px solid #ccccaa;
	padding: 5px 0;
	line-height: 1.5em;
	margin-left: 0;
}

.inner_menu li
{
	display: inline;
}

.inner_menu a
{
	white-space: nowrap;
	padding: 0 2px;
	margin: 0 5px;
	border-bottom: 1px dotted #aa8;
}

/*.inner_menu a:hover
{
	text-decoration: none;
	color: #000;
	border-bottom-color: #900;
}*/

.news
{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	overflow: auto;
	padding-bottom: 5px;
}

.news h2
{
	float: left;
	width: auto;
	font-size: 153.9%; /*116%;*/
	font-weight: bold;
	margin-top: 0;
}

.news .link
{
	float: right;
	clear: right;
	width: auto;
	padding:0;
	margin: 0;
	padding-left: 20px;
}

.news .byline
{
	float: left;
	clear: left;
	width: auto;
	color: #666;
	padding: 3px 10px;
	font-size: 85%;
}

.news .more
{
	display: none;
}

.news ul,
.news ol,
.news p,
.news pre,
.news blockquote,
.news h3,
.news h4
{
	clear: left;
	margin-top: 10px;
}

/*.news blockquote>p
{
	margin-top: 0;
}*/

.news blockquote
{
	padding-bottom: 10px;
}

.news ul,
.news ol
{
	margin-bottom: 10px;
}

.news p
{
	padding: 0 10px;
	margin-bottom: 0;
}

.references,
.archive_list
{
	margin-left: 10px;
}

.references>li,
.archive_list>li
{
	overflow: auto;
	padding: 5px;
	line-height: 17px;
}

.references>li>a[rel='external'],
.references>li>a[rel='link'],
.references>li>a[rel='download']
{
	float: right;
	width: auto;
}

.references .name
{
	padding-left: 20px;
}

img.rssfeed
{
	float: right;
	margin-top: 7px;
}

.highlight
{
	background-color: #ddddbb;
	border: 1px solid #ccccaa;
	padding-top: 5px;
	padding-bottom: 5px;
}

.highlight + a + h1,
.highlight + .horiz-ads + a + h1,
.highlight + .horiz-ads + a > img.rssfeed
{
	margin-top: 20px;
}

.highlight + a > img.rssfeed
{
	margin-top: 27px;
}

.highlight h1,
.highlight h2,
.highlight h3,
.highlight h4
{
	margin-top: 0;
	padding-left: 10px;
	border: none;
}

.highlight p
{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0;
}

.address
{
	background-color: #ddddbb;
	border: 1px solid #ccccaa;
	padding: 2px 5px;
}

.address li.phone,
.address li.fax,
.address li.email,
.address li.website
{
	border-top: 1px solid #ccccaa;
	margin-top: 5px;
}

.newsletter
{
	background-color: #ccccaa;
	vertical-align: middle;
	padding: 5px;
}

.newsletter>li
{
	display: inline;
	padding: 2px 10px;
	white-space: nowrap;
}

.horiz-ads
{
	font-size: 93%;
	margin: 10px;
	padding: 2px 5px;
	border: 1px solid #ddd;
}

.horiz-ads div
{
	margin: 3px 10px;
	margin-right: 0;
}

.horiz-ads .ad-label
{
	color: #666;
}

#footer
{
	clear: both;
	/*background-color: #aa8;*/
	background-image: url(../images/footer_bg.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-top: 11px;
	overflow: auto;
	padding-bottom: 5px;
}

.copyright
{
	padding-top: 3px;
	padding-right: 10px;
	float: right;
	font-size: 85%;
	width: auto;
}

#subfooter
{
	text-align: right;
	clear: both;
	background-color: #300;/*#cccccc;*/
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 85%;
	border-top: 5px solid #886;
}
