/* Font size chart:
 * Pixels	Percent
 * -----------------
 * 10		77
 * 11		85
 * 12		93
 * 13		100
 * 14		108
 * 15		116
 * 16		123.1
 * 17		131
 * 18		138.5
 * 19		146.5
 * 20		153.9
 * 21		161.6
 * 22		167
 * 23		174
 * 24		182
 * 25		189
 * 26		197
 */

html, body
{
	width: 100%;
	height: 100%;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #cccccc;/*#330000;*/
	text-align: center;
}

a, a:link, a:active, a:visited
{
	color: #cc0000;
	text-decoration: none;
}

a:hover
{
	color: #3366cc;
	text-decoration: underline;
}

ul, ol
{
	padding-left: 10px;
}

ul.bullets,
ul.bullets li
{
	list-style-type: circle;
	list-style-image: url(../images/bullet.png);
}

ul ul,
ul ol,
ol ul,
ol ol
{
	padding-left: 25px;
}

.menu ul ul,
.menu ol ul,
.menu ul ul li,
.menu ol ul li
{
	list-style-type: circle;
	list-style-image: url(../images/bullet.png);
}

h1,h2,h3,h4
{
	font-family: Georgia,"Times New Roman",Times,serif;
	margin-bottom: 5px;
}

h1
{
	font-size: 197%;
	border-bottom: 1px solid #990000;
}

h2
{
	font-size: 167%;
	padding-left: 5px;
}

h3
{
	font-size: 138.5%;
	padding-left: 10px;
}

h4
{
	font-size: 116%;
	padding-left: 15px;
}

p
{
	margin-bottom: 20px;
}

.left_half
{
	float: left;
	width: 280px; /*350*/
	clear: left;
}

.right_half
{
	float: right;
	width: 280px;
	clear: right;
}

.hidden
{
	display: none;
}

#everything
{
	background-image: url(../images/menu_bg2.png);
	background-color: #e5e5d4;
	background-repeat: repeat-y;
	background-position: left;
	width: 800px; /*980*/
	margin: 10px auto;
	text-align: left;
}

#header
{
	text-align: center;
	background-color: #ffffcc;
	padding-top: 10px;
	padding-bottom: 11px;
	background-image: url(../images/header_bg2.png);
	background-position: bottom;
	background-repeat: no-repeat;
}

#logo
{
	height: 100px;
	background-image: url(../images/header_logo2.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

#left_nav
{
	float: left;
	overflow: auto;
	width: 200px;/*240*/
	/*margin-left: 10px;*/
	padding-left: 10px;
}

.menu
{
	line-height: 1.5em;
}

.menu_header
{
	margin-bottom: 10px;
}

.menu a
{
	font-variant: small-caps;
}

#content
{
	float: right;
	overflow: auto;
	width: 570px;/*710*/
	/*margin-right: 10px;*/
	padding-right: 10px;
	/*background-color: #ffffcc;*/
}

.breadcrumbs
{
	margin-bottom: 10px;
}

.crumb
{}

.crumb_sep
{
	padding: 0 10px;
}

.news
{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
}

.news .link
{
	padding:0;
	margin: 0;
	padding-left: 20px;
}

.news .byline
{
	color: #666;
	padding:0 10px;
	font-size: 85%;
}

.news p
{
	padding: 0 10px;
	margin-bottom: 0;
	margin-top: 10px;
}

#footer
{
	clear: both;
	background-color: #ffffcc;
	background-image: url(../images/footer_bg2.png);
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 11px;
}

#subfooter
{
	clear: both;
	background-color: #cccccc;/*#330000;*/
}
