body
{
background-color: white;
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}

H1 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:large;
}

H2 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:medium;
}

DIV.margins 
{ 
	margin-left: 16em;
	margin-right: 16em;
}

P.indent { padding-left: 2em; }

div#navcontainer
{
background-color: #800000;
border-top: solid 1px #FFFFFF;
border-bottom: solid 1px #FFFFFF;
margin-top: 5px;
margin-bottom: 20px;
margin-left: 16em;
margin-right: 16em;
}

div#navcontainer ul
{
font-family: Arial, Helvetica, sans-serif;
color: white;
text-align: center;
margin: 0;
padding-bottom: 5px;
padding-top: 5px;
}

div#navcontainer ul li
{
display: inline;
margin-left: -4px;
}

div#navcontainer ul li a
{
padding: 5px 10px 5px 10px;
color: white;
text-decoration: none;
border-right: 1px solid #fff;
}

div#navcontainer ul li a:hover
{
background-color: #8B3A3A;
color: white;
}

#active a { border-left: 1px solid #fff; }
